/*
	
	Alfie WP Weather Admin Styling
	
*/

#location-search {
	position: relative;
}
#cities {
	position: absolute;
	background: white;
	width: 100%;
	box-shadow: 0px 9px 15px rgba(0, 0, 0, 0.2);
	top: 39px;
}
.loaded {
padding: 10px 20px 20px 20px;
}
.loaded .item {
border-bottom: 1px dashed #EFEFEF;
margin: 0;
padding: 0;
line-height: 30px;
cursor: pointer;
}
.loaded .item:hover {
	background: #fafafa;
}
.loaded .item a {
	
}
#location-input {
	display: none;
}
.fullwidth {
	width:100%;
}
.aligncenter {
	text-align: center;
}
.mb20 {
	margin-bottom: 20px;
}